<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-button (click)="login()" color="primary" expand="block">Login</ion-button>
  <ion-button expand="block" color="secondary" routerLink="/register" routerDirection="forward">Register</ion-button>

  <div>
    <ion-ripple-effect>A plain div with a ripple effect</ion-ripple-effect>
    
  </div>
  
  <button (click)="clickMe()">Click me!</button>
  {{ myVariable }}
</ion-content>